coverage/
node_modules/
/docs/
/dist/
*.d.ts
lib/
dist/
dist
build/
.env
public/
logs
.output
.cache
.DS_Store
*.log*
examples/
.vscode/
.tmp/
.idea/
.cache/
*.pem
*.md
*.log
!.eslintrc.js
types/
tmp/
server/
scripts
package.json
package-lock.json
/config/
/build/
.snapshot/**/*.*
.nyc_output/
.git/
!.vscode
