node_modules/
.env*
/build
/public/build
/app/styles/tailwind.css
dist/
coverage/
.cache/
package-lock.json
public/
*.log
.DS_Store
build/
.build/
tmp/
test/data/
*.d.ts
orig/
.nyc_output
/vendors/
.tmp/
!/tests/format/**/jsfmt.spec.js
package.json
yarn-error.log*
yarn-debug.log*
npm-debug.log*
/out/
.output/
*.md
*.log*
types/
tsconfig.json
test/**/*.*
test/
scripts
examples/
en.ts
de.ts
.vscode/
!test/helpers/*.*
!test/*.md
!test/*.js
!test/**/webpack.config.js
!test/**/warnings.js
!test/**/test.filter.js
!test/**/test.config.js
!test/**/errors.js
!test/**/deprecations.js
